body {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    color: #F3F7EC;

    /* font-weight: ; */

    background-image: url(../images/Stripes.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header {
    background-color: #E88D67;
    border: #F3F7EC solid 3px;
    border-radius: 40px;
    position: relative;
    margin-bottom: 10px;

}

.heading {

    background-color: #006989;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 3px;
    height: 103px;
    position: relative;

}

h1 {
    float: left;
    width: 80%;
    padding-top: 5px;
    text-align: center;
    color: #F3F7EC;

    font-weight: 800;
}



#imgg {
    background-color: #E88D67;
    float: right;
    border: #006989 solid;
    border-top: 0px;
    border-top-right-radius: 37px;

}

p {
    display: inline-block;
    background-color: #F3F7EC;
    color: #005C78;
    padding: 8px;
    border: #006989 solid 3px;
    border-radius: 50px;
}

#nav-bar {
    border-top: #F3F7EC solid;
    padding-left: 20px;
}

a:hover {
    font-style: italic;
    font-weight: 800;
}


.home {
    margin-top: 5px;
    background-color: #006989;
    border: #F3F7EC solid;
    border-radius: 40px;
    margin-bottom: 50px;
}

.home h2 {
    text-align: center;
    font-weight: 700;
    background-color: #E88D67;
    margin: 0px;
    padding: 15px;
    border-top-right-radius: 37px;
    border-top-left-radius: 37px;
    border-bottom: #F3F7EC solid;
}

.home h3 {
    display: inline-block;
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: #E88D67;
    border-radius: 40px;
    border: #F3F7EC solid;
}


.home>div>p {
    border: #E88D67 solid;

}

a:hover {
    color: #006989;

}

.mdm {
    margin-top: 3px;

    background-color: #006989;
    border: #F3F7EC solid;
    border-radius: 40px;
    height: 280px;
}

.mdm>h3 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #F3F7EC;
    border-top-right-radius: 40px;
    border-top-left-radius: 41px;
    border-bottom: #F3F7EC solid;
    text-align: center;
    background-color: #E88D67;


}


.mdm>img {
    padding-top: 12%;
    float: right;
}


.mdm>p {
    display: block;
    width: 200px;
}

footer {
    text-align: center;
}