body{
    background: grey;
}



header{
    background: whitesmoke;
    color:rebeccapurple;
}
main{
    background: aquamarine;
}
a{
    color: black;
}
a:hover{
    color: red;
}
